.pageWrapper {
    background-color: black;
    min-height: 100vh;
    display: flex;
    padding: 2rem;
    align-items: center;
    .text {
        color: magenta;
        font-weight: 900;
        font-size: 80px;
        margin-bottom: 1rem;
        letter-spacing: -2px;
    }
}